@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
*{
    font-family: 'Titillium Web';
    margin: 0;
    padding: 0;
  }

body {
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    max-width: 1000px;
    padding: 10px;
    font-size: 16px;
    margin: auto;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#listaClientes {
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
}
